/* Typography */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/fira-sans-v10-latin-regular.eot');
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../assets/fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), url('../assets/fonts/fira-sans-v10-latin-regular.woff') format('woff'), url('../assets/fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), url('../assets/fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg');
	font-display: swap;
}
html {
	font-family: 'Fira Sans', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	main{
		max-width: 75vw;
	}

}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
	main{
		max-width: 50vw;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}
/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 7%;
	margin: auto;
	font-size: 1.25rem;
	font-weight: normal;
	text-align: left;
}
div{
	padding: 7% 0%;
}
div.links{
	display: flex;
	justify-content: space-around;
}
div.links a {
	font-size: 1.75rem;

}
h1 {
	font-size: 3.75rem;
	font-weight: bold;
	text-align: left;
}
h2{
	font-size: 1.75rem;
	font-weight: bold;
	text-align: left;
}
h3{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
p{
	text-indent: 25px;
}
ul{
	list-style-type: initial;
	list-style-position: inside;
}
a{
	
	text-decoration: underline;
	text-decoration-style: double;
}
img {
	border: 1px solid #4B5658;
	border-radius: 20px;
	display: block;
	margin: 2% auto;
	max-width: 100%;
	height: auto;
}

/* Colors */
html{
	background:#EDEDED;
}
main{
	background: #EDEDED;
	color: #4B5658;
}
main a {
	color:#4B5658;
}
main a:hover,#mcolor:hover {
	color:#000000 ;
}