/* Typography */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/fira-sans-v10-latin-regular.eot');
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../assets/fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), url('../assets/fonts/fira-sans-v10-latin-regular.woff') format('woff'), url('../assets/fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), url('../assets/fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg');
	font-display: swap;
}
html {
	font-family: 'Fira Sans', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	article{
		max-width: 75vw;
	}

}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
	article{
		max-width: 50vw;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.more-links {
	padding: 10px;
}

.button {
	background-color: white;
  	color: black;
  	border-radius: 8px;
  	border: 2px solid black;
  	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	/*max-width: 25vw;*/
	font-size: 1.25rem;
	font-weight: normal;
	margin: 4px 2px;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	cursor: pointer;
}

.nav-icon {
	font-size: 2.5rem;
	font-weight:normal;
	padding: 10px;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}
article {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: auto;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-size: 3.75rem;
	font-weight: bold;
}
/*main,article > .subhead, */
h1 {
	font-size: 2.5rem;
	margin: 1.5rem 0;
	font-weight: bold;
	text-align: left;
}
h2 {
	font-size: 2rem;
	margin: 1.5rem 0;
	font-weight: bold;
	text-align: left;
}
h3 {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: normal;
	text-align: left;
}
main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: normal;
}
/*article > .links, article > .bodytext*/
p {
	font-size: 1.25rem;
	text-indent: 25px;
	font-weight: normal;
	text-align: left;
}
main a, article a {
	text-decoration: none;
	font-weight: bold;
}