/* Typography */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/fira-sans-v10-latin-regular.eot');
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../assets/fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), url('../assets/fonts/fira-sans-v10-latin-regular.woff') format('woff'), url('../assets/fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), url('../assets/fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg');
	font-display: swap;
}
html {
	font-family: 'Fira Sans', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	main{
		max-width: 75vw;
	}

}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
	main{
		max-width: 50vw;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}
/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	justify-content: center;
	padding: 7%;
	text-align: center;
	margin: auto;
}
div.links{
	padding: 7%;
	display: flex;
	justify-content: space-between;
}
div.links a {
	font-size: 1.75rem;

}
h1 {
	font-size: 3.75rem;
	font-weight: bold;
	text-align: left;
}
p, li {
	font-size: 1.25rem;
	/*text-indent: 25px;*/
	font-weight: normal;
	text-align: left;
}
a{
	font-size: 1.25rem;
	text-decoration: underline;
	text-decoration-style: double;
}
