{{ define "main" }}
{{ $len := (len .Pages) }}
<h1>{{ .Title }}</h1>
{{ .Content }}
    {{ range $index, $value := .Pages.ByDate.Reverse }}
        <section>
            <h2 class="link"><a title="Read more" href="{{ .RelPermalink }}" class='link'>{{ .Title }}</a></h2>
            {{.Summary}}
            <p><small>{{.Date.Format "Jan 2, 2006"}} &#8226; {{.ReadingTime}} min</small></p>
            {{if not (eq (add $index 1) $len)}}
            <hr>
            {{end}}
        </section>
    {{ end }}
{{ end }}