{{ define "main" }}
<h1>{{ .Title }}</h1>
{{.Content}}
<!-- ranges through content in ascending order according to the "title" field set in front matter -->
<div class="full-width" id="posts">
    {{ $twoYearsAgo := now.AddDate -2 0 0 }}
    {{ range .Pages.ByDate.Reverse }}
    {{ if ge .Date $twoYearsAgo }}
        {{ $img := ( .Params.images) }}
        <a href="{{ .RelPermalink }}" class='no-deco'>
            <section class='img' style="background-image: url({{index $img 0}});">
                <!-- <p><small>{{.Lastmod.Format "Jan 2, 2006"}}</small> &#8226; <a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{.ReadingTime}} min) -- {{.Description}}</p> -->
                <h2>{{ .Title }}</h2>
                <p>{{.Description}}</p>
                <p><small>{{.Date.Format "Jan 2, 2006"}}</small></p>
            </section>
        </a>
    {{ end }}
    {{ end }}
</div>
<p class="align-center"><a href="/photos/archive/" class="button-inline">View Older Posts</a></p>
<style>
#posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

#posts > * {
    width: calc(33% - 0.5rem);
    margin: 0.25rem;
}

@media (max-width: 1000px) {
    #posts > * {
        width: calc(50% - 0.5rem);
    }
}

@media (max-width: 800px) {
    #posts > * {
        width: 100%;
    }
}
</style>
{{ end }}