/* Theme */

main {
	background: #485564;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
#color:link {
	color:#FAFAFA ;
}
#color:visited {
	color:#FAFAFA ;
}
#color:hover {
	color:#FFFFFF ;
}