/* Theme 485564 FAFAFA*/

main{
	background: #485564;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
#mcolor:link, #mcolor:visited {
	text-decoration: none;
	color:#FAFAFA;
	font-weight: bold;
}
#mcolor:hover {
	color:#aeaeae ;
	text-decoration: none;
}