/* Theme */

main {
	background: #EDEDED;
	color: #4B5658;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a svg path{
	fill: #4B5658;
}

#color:link {
	color:#4B5658 ;
}
#color:visited {
	color:#4B5658 ;
}
#color:hover {
	color:#000000 ;
}