/* Theme */

main, article{
	background: #FAFAFA;
	color: #0277BD;
}

.icons-social a {
	color: #0277BD;
}

.icons-social a svg path{
	fill: #0277BD;
}
#color:link, #color:visited {
	text-decoration: none;
	color:#0277BD;
	font-weight: bold;
}
#color:hover {
	color:#0000ff;
	text-decoration: none;
}