/* Theme */

main, article{
	background: #E8EAF6;
	color: #303F9F;
}

.icons-social a {
	color: #303F9F;
}

.icons-social a svg path{
	fill: #303F9F;
}
#color:link, #color:visited {
	text-decoration: none;
	color:#303F9F;
	font-weight: bold;
}
#color:hover {
	color:#0000ff;
	text-decoration: none;
}