/* Theme */

main, article{
	background: #EDEDED;
	color: #AF3D4E;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social a svg path{
	fill: #AF3D4E;
}
#color:link, #color:visited {
	text-decoration: none;
	color:#AF3D4E;
	font-weight: bold;
}
#color:hover {
	color:#ff00;
	text-decoration: none;
}