/* Theme */

main, article{
	background: #EDEDED;
	color: #4B5658;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a svg path{
	fill: #4B5658;
}

#color:link, #color:visited {
	text-decoration: none;
	color:#4B5658;
	font-weight: bold;
}
#color:hover {
	color:#000000 ;
	text-decoration: none;
}