<!-- put bunch of photos in /static/img/albumName -->
<!-- and insert shortcode "album albumName" in blogpost.md -->
{{ $albumUrl := print "/static/img/" ($.Get 0) }}
{{ $album := readDir $albumUrl}}
<div class="full-width" id="photos">
    {{ range sort $album "ModTime" "desc"}}
    {{ $imgURL := print "img/" ($.Get 0) "/" .Name | absURL }}
    <!-- {{.Name}} {{.ModTime}}<br> -->
    <img class='no-shadow no-round' loading="lazy" src="{{ $imgURL }}" />
    {{ end }}
</div>
<style>
#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    /*Note: switch to 5 once I have more photos!*/
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    display: inline-block !important;
    border: 3px solid transparent;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
</style>