<!-- put bunch of photos in /static/img/albumName -->
<!-- and insert shortcode "album albumName" in blogpost.md -->
{{ $albumUrl := print "/img/" ($.Get 0) "/*.{png,jpg,jpeg}"}}
{{/*
<!-- {{ $album := readDir $albumUrl}} -->
<!-- <div class="full-width photos"> -->
    <!-- {{ range sort $album "ModTime" "desc"}} -->
    <!-- {{ $imgURL := print "img/" ($.Get 0) "/" .Name | absURL }} -->
    <!-- {{.Name}} {{.ModTime}}<br> -->
    <!-- <a href="{{ $imgURL }}" class='no-deco'> -->
        <!-- <img class='no-shadow no-round' loading="lazy" src="{{ $imgURL }}"/> -->
    <!-- </a> -->
    <!-- {{ end }} -->
<!-- </div> -->
*/}}
{{ $filters := slice
    images.AutoOrient
    (images.Process "resize 2000x q85 lanczos")
}}
{{ $filters_nosize := slice
    images.AutoOrient
    (images.Process "q50 lanczos")
}}

<div class="full-width photos">
    {{ range resources.Match $albumUrl }}
            {{ $imgURL :=  .Name }}
            {{/*  {{ if or (gt .Width 2000) (gt .Height 2000) }}
                {{ with .Filter $filters | resources.Copy $imgURL}}
                    <a href="{{.RelPermalink}}" class='no-deco'>
                        <img class='no-shadow no-round' loading="lazy" src="{{.RelPermalink}}"/>
                    </a>
                {{ end }}
            {{ else }}
                {{ with .Filter $filters_nosize | resources.Copy $imgURL}}
                    <a href="{{.RelPermalink}}" class='no-deco'>
                        <img class='no-shadow no-round' loading="lazy" src="{{.RelPermalink}}"/>
                    </a>
                {{ end }}
            {{ end }}  */}}
            {{ with .Filter $filters_nosize | resources.Copy $imgURL}}
                <a href="{{.RelPermalink}}" class='no-deco'>
                    <img class='no-shadow no-round' loading="lazy" src="{{.RelPermalink}}" alt="Photograph"/>
                </a>
            {{ end }}
    {{ end }}
</div>

{{/*  {{ range first 1 .Colors }}
                    {{ $colors := .ColorHex }}
                    <p>{{ printf "%#v" $colors }}</p>
                {{ end }}  */}}