<!-- <h1 class='link'><a href="/" class="link">Venkatsai Bellala</a></h1> -->
<!-- <nav class='menu'>
    {{ $currentPage := . }}
    <a href="/" id='home'>
        <object data="/favicons/icon.svg" type="image/svg+xml"></object>
    </a>
    {{ range where .Site.Menus.main "Name" "!=" "Home" }}
        <a class="{{if (eq $currentPage.RelPermalink .URL)}}active{{end}}" href="{{ .URL }}" title="{{ .Name }}" target="{{if eq .Name "Resume"}}_blank{{else}}_self{{end}}">{{.Name}}</a>
    {{ end }}
</nav> -->
<!-- <hr> -->