<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{ if .Param "redirect" }}
    <meta http-equiv="refresh" content="0; {{.Param "redirPath"}}" />{{ else }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">{{ end }}
    <meta name="theme-color" content="{{.Site.Params.themeColor}}">
    <link rel="icon" href='/favicons/icon.svg?v=PYAnWEX76A'>
    <link rel="mask-icon" href="/favicons/icon.svg?v=PYAnWEX76A" color="{{.Site.Params.tileColor}}">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png?v=PYAnWEX76A">
    <link rel="manifest" href="/favicons/manifest.json?v=PYAnWEX76A">
    <link rel="shortcut icon" sizes='32x32' href='/favicons/favicon.ico?v=PYAnWEX76A'>
    <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{else}}{{ if .Params.description }}{{ .Params.description }}{{else}}{{ .Params.title }}{{ end }}{{ end }}" />
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <meta name="application-name" content="{{ .Site.Title }}">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ $title := print .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>