{{ define "main" }}
{{ $len := (len .Pages) }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<div class='port'>
    {{ range $index, $value := .Pages.ByDate.Reverse }}
    <!-- <div style='background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/{{ .Param "image" }});'> -->
    <div>
        <section>
            <h2>{{ .Title }}</h2>
            {{.Summary}}
        </section>
        <a title="Read more" href="{{ .RelPermalink }}" class='icon'>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon link">
                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon link">
                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
            </svg></a>
    </div>
    <!-- <p><a class = 'nav' href="{{ .Permalink }}">Read more...</a></p> -->
    <!-- <hr> -->
    <!-- <img src='/img/{{ .Param "image" }}' alt='{{ .Param "alt" }}'> -->
    <!-- <h2>{{ .Title }}</h2> -->
    <!-- {{.Content}} -->
    <!-- </div> -->
    {{if not (eq (add $index 1) $len)}}
    <hr>
    {{end}}
    {{ end }}
</div>
{{ end }}