/* Typography - no longer needed?*/
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fira-sans-v10-latin-regular.eot');
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'), url('../fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), url('../fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg');
	font-display: swap;
}
:root {
	/* Colors - Nord */
	--white: #FFF;
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    /* defaults */
    --color-bg: var(--white);
    --color-bg-emphasis: var(--nord6);
    --color-txt: var(--nord3);
    --color-txt-emphasis: var(--nord1);
    --color-main: var(--nord10);
    --color-link: var(--nord8);
    --color-highlight: var(--nord13);
	
}
@media (prefers-color-scheme: dark) {
	/*dark theme??? */
	:root{
		--color-bg: var(--nord0);
		--color-bg-emphasis: var(--nord1);
	    --color-txt: var(--nord4);
	    --color-txt-emphasis: var(--nord6);
	    --color-main: var(--nord10);
	    --color-link: var(--nord9);
	    --color-highlight: var(--nord12);
	}
	img {
    	opacity: .75;
    	transition: opacity .5s ease-in-out;
  	}
  	img:hover {
    	opacity: 1;
  	}
}
body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.4;
  padding: 4rem 2rem;
  background: var(--color-bg);
  color: var(--color-txt);
}
h2,h3 {
  margin-top: 1rem;
  padding-top: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,thead,caption {
  color: var(--color-txt-emphasis);
}
code,
pre {
  background: var(--color-bg-emphasis);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1rem;
  display: block;
  border-left: 2px dashed var(--color-main);
  border-radius: 0 0.5rem 0.5rem 0;
  overflow-x: auto;
}
blockquote,q{
	padding: 1rem;
	border-left: 4px solid var(--color-highlight);
	margin-left: 0;
	font-style: italic;
}
blockquote cite, q cite {
  font-style: normal;
  font-size: 0.9rem;
}
q:before {
   content: none;
}
q:after {
   content: none;
}
blockquote cite:before, q cite:before {
  content: '— ';
}
a, a:link {
  color: var(--color-txt);
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient(var(--color-bg) 50%, var(--color-link) 50%);
  transition: background 100ms ease;
  background-size: 2px;
  background-size: auto 175%;
}
a:hover, a:focus {
  background-position-y: 50%;
}
blockquote a, blockquote a:link, q a, q a:link{
	background-image: linear-gradient(var(--color-bg-emphasis) 50%, var(--color-link) 50%);
}
mark {
  background-color: var(--color-highlight);
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
  color: var(--color-txt);
}
footer a,.nav a{
	margin-right: 1.5rem;
	font-size: 1.15rem;
}
footer {
  padding: 1rem 0;
}
img {
  display: block;
  margin-left: 0;
  max-width: 70%;
  height: auto;
  border: 2px solid var(--color-bg-emphasis);
}
hr,footer {
  border: none;
  border-top: 1px solid var(--color-bg-emphasis);
}
caption {
	text-align: left;
	font-size: 1.25rem;
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
  width: 100%;
}
td,
th {
  padding: 0.5rem;
  text-align: left;
}
tbody tr:nth-child(odd) {
  background: var(--color-bg-emphasis);
}
tbody tr:hover {
  background: var(--color-main);
  color: var(--white);
}
tfoot {
	font-weight: bold;
	border-top: 1px dotted var(--color-main);
}
address {
  font-style: normal;
}

a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}

a[href^='sms']::before {
  content: '💬 ';
}
