ul > li {
  margin-top: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
strong{
  font-weight: bold;
  color: var(--color-txt-emphasis);
  text-transform: uppercase;
}
li > ul > li{
  font-weight: normal;
  color: var(--color-txt);
  text-transform: none;
  margin: 0.25rem 0;
  list-style-type: none;
}

li > ul > li > ul > li{ 
  list-style-type: initial;
}

li > em{
  color: var(--color-main);
}


dt{
  font-weight: bold;
  color: var(--color-txt-emphasis);
  text-transform: uppercase;
  margin-top: 0.5rem;
}
dd > em{
  color: var(--color-main);
}
dd > ul{
  margin-top: 0;
}
.show{
  display: none;
}

@media print{
  :root{
    --color-bg: var(--white);
    --color-bg-emphasis: var(--nord6);
    --color-accent: var(--nord4);
    --color-txt: var(--nord3);
    --color-txt-emphasis: var(--nord1);
    --color-main: var(--nord9);
    --color-link: var(--nord7);
    --color-highlight: var(--nord13);
  }
  body{
  font-size: 10px;
  padding: 0;
  margin: 10px;
  }
  footer,.noshow{
    display: none;
  }
  
  h2{
    padding-top:0;
    font-size: 12px;
  }
  h1{
    font-size: 18px;
  }
  .show{
    display: block;
  }
  hr{
    margin:0;
    padding: 0;
  }
}