ul {
    padding-left: 0;
}

li>ul {
    padding-left: 2rem;
}

ul>li {
    list-style-type: none;
    padding: 0;
}

strong {
    font-weight: bold;
    color: var(--color-txt-emphasis);
    text-transform: uppercase;
}

li>ul>li {
    font-weight: normal;
    color: var(--color-txt);
    text-transform: none;
    list-style-type: none;
}

li>ul>li>ul>li {
    list-style-type: initial;
}

li>em {
    color: var(--color-main);
}

.show {
    display: none;
}

@media print {
    :root {
        --color-bg: #FFF;
        --color-bg-emphasis: var(--nord6);
        --color-accent: var(--nord4);
        --color-txt: var(--nord3);
        --color-txt-emphasis: var(--nord1);
        --color-main: var(--nord9);
        --color-link: var(--nord7);
        --color-highlight: var(--nord13);
    }

    body {
        font-size: 9px;
        padding: 0;
        margin: 10px;
    }

    footer,
    .noshow {
        display: none;
    }

    h2 {
        padding-top: 0;
        font-size: 11px;
    }

    h1 {
        font-size: 16px;
    }

    .show {
        display: block;
    }

    hr {
        margin: 0;
        padding: 0;
    }
}