/* Minimal CSS Reset */

html {
  box-sizing: border-box;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Typography - no longer needed?*/
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fira-sans-v10-latin-regular.eot');
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'), url('../fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), url('../fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg');
	font-display: swap;
}

:root {
	/* Colors - Nord */
	--white: #FFF;
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    /* defaults */
    --color-bg: var(--white);
    --color-txt: var(--nord1);
    --color-main: var(--nord10);
    --color-link: var(--nord8);
    --color-hover: var(--nord6);
    --color-highlight: var(--nord7);
	
}
@media (prefers-color-scheme: dark) {
	/*dark theme??? */
	:root{
		--color-bg: var(--nord0);
	    --color-txt: var(--nord6);
	    --color-main: var(--nord10);
	    --color-link: var(--nord9);
	    --color-hover: var(--nord1);
	    --color-highlight: var(--nord12);
	}
	img {
    	opacity: .75;
    	transition: opacity .5s ease-in-out;
  	}
  	img:hover {
    	opacity: 1;
  	}
}
html {
	font-family: 'Fira Sans', sans-serif;
	background:var(--color-bg);
}
@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	img{
		max-width: 45%;
		height: auto;
	}

}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
	
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
	main{
		max-width: 75vw;	
	}
}
/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 7%;
	margin: auto;
	font-size: 1rem;
	font-weight: normal;
	text-align: left;
	color: var(--color-txt);
	align-items: center;	
}

a, a:link {
  color: var(--color-txt);
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( var(--white) 50%, var(--color-link) 50%);
  transition: background 100ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a:hover {
  background-position-y: 50%;

}
mark{
	background: var(--color-highlight);
	color: var(--color-txt);
}	
div{
	padding: 3% 0%;
	align-items: center;
}
div.port{
	display: flex;
	flex-direction: row;	
}
div.footer{
	display: flex;
	justify-content: space-around;
	padding: 2% 5%;
	flex-wrap: wrap;
	align-items: center;
}
a.nav{
	margin: 1rem 1.5rem;
}

h1 {
	font-size: 2.5rem;
	padding-bottom: 2%;
	padding-top: 7%;

}
h1:after{
	content:".";
	color: var(--color-main);
}
h2{
	font-size: 1.75rem;
	padding-bottom: 2%;
	padding-top: 5%;
}

p{
	text-indent: 25px;
	padding-bottom: 1%;
	line-height: 1.4;
}
ul{
	list-style-type: initial;
	list-style-position: inside;
	padding-bottom: 2%;
	line-height: 1.4;
}
img {
	border: 3px solid var(--color-main);
	border-radius: 20px;
	display: block;
	margin: 3%;
}
@media (max-width: 576px) {
	div.port{
		flex-direction: column;
	}
	

}
